@import '../../styles/abstracts/variables.module';
.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  &__btn {
    border: none;
    padding: 2rem;
    border-radius: 5px;
    font-size: 2.4rem;
    background-color: $color-primary;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }
}
