@import '../../styles/abstracts/variables.module';
.nav {
  padding: 1.6rem;
  padding-right: 0;
  color: white;

  &__admin {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.2rem;
    margin-bottom: 1.6rem;
    margin-right: 1.6rem;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    font-size: 1.2rem;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.4rem;
  }
  &__icons {
    width: 2rem;
    height: 2rem;
  }
  &__active {
    color: $color-primary;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
  }
  &__signout {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0.4rem;
    border: none;
    margin-top: 1.6rem;
    background-color: inherit;
    width: 100%;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
}

.logo__image {
  object-fit: cover;
}

.admin__icons {
  width: 2rem;
  height: 2rem;
}
