.table__action {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.table__edit {
  color: green;
}

.table__delete {
  color: red;
  background-color: inherit;
  &:hover {
    cursor: pointer;
  }
}
